<!-- api docs -> https://www.weatherapi.com/docs/ -->

<div
  *ngIf="weatherData"
  class="h-full xl:h-screen xl:p-32 p-10 flex flex-col xl:flex-row bg-platinum"
>
  <div
    class="xl:w-3/4 w-full p-4 bg-slate-50 border xl:rounded-s-xl max-xl:rounded-t-xl"
  >
    <!--logo-->
    <div class="flex flex-col lg:flex-row items-center">
      <figure>
        <a
          href="https://www.weatherapi.com/"
          target="_blank"
          title="Free Weather API"
          ><img
            src="//cdn.weatherapi.com/v4/images/weatherapi_logo.png"
            alt="Weather data by WeatherAPI.com"
        /></a>
      </figure>
      <!-- search-bar-->
      <app-search-bar (searchCity)="getWeather($event)" />
    </div>

    <!-- weather-info -->
    <app-weather-info [weatherData]="weatherData" />

    <!-- daily forecast -->
    <app-daily-forecast [weatherData]="weatherData" />

    <div class="flex justify-between">
      <p>
        Last updated at:
        {{ weatherData.current.last_updated | date : "HH:mm" }} LT
      </p>
      <a
        href="https://www.flaticon.com/free-icons/meteorology"
        title="meteorology icons"
        >Favicon created by Freepik - Flaticon</a
      >
    </div>
  </div>

  <!-- hourly forecast -->
  <div
    class="xl:w-1/4 w-full bg-seasalt xl:rounded-e-xl max-xl:rounded-b-xl text-center overflow-y-auto"
  >
    <app-hourly-forecast [forecastHours]="forecastHours" />
  </div>
</div>
